<div class="blog card">
  <div class="card-header">
    <h5>{{format_text title}}</h5>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="card-body">
    <p>
      {{content}}
    </p>
    <p>
      {{ comments.length }} comments
    </p>
  </div>
</div>