<div class="blog card">
  <div class="card-header">
    <h5>
      <a href="/blog/{{id}}"></a>{{format_text title}}</a>
    </h5>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="card-body">
    <p>
      {{content}}
    </p>
  </div>
</div>
<div>
    <p>
      {{> comments }}
    </p>
</div>
<div>
    {{#if logged_in}}
      {{> addcomment }}
    {{/if}}
</div>